@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=DM+Serif+Display&display=swap');
$primary: #6658EA;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-family: 'DM Serif Display', serif;
    // border: 1px solid red;
}

p{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
}
 
.main-heading-big{
    font-size: 64px;
    font-weight: 400;
    font-family: 'DM Serif Display', serif;
    line-height: 69.12px;
    color: #1B1642;
}

.main-heading-small{
    font-size: 48px;
    font-weight: 400;
    line-height :51.84px;
    font-family: 'DM Serif Display', serif;
    color: #1B1642;
}

.sub-main-heading{
    font-size: 20px;
    font-weight: 700;
    line-height :32px;
    font-family: 'DM Sans', sans-serif;
    color: #1B1642;
    margin-top: 36px;
    margin-bottom: 7px;
}

.price-heading{
    font-size: 48px;
    font-weight: 700;
    line-height :51.84px;
    font-family: 'DM Sans', sans-serif;
    color: #1B1642;
}

.sub-content{
    font-size: 18px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    line-height: 28.8px;
    color: #1B1642;
}

.main-heading-mobile{
    display: none;
}

.img-fluid{
    width: 100%;
    height: auto;
}

.underline{
    text-underline-offset: -2px;
    text-decoration-skip-ink: none;
    text-decoration-color: rgba(255, 194, 103, 0.4)
}   



.color-bar{
    display: flex;
    .bar{
        height: 4px;
        flex-grow: 1;
    }
    .bar-1{

        background: #575A7B;
    }
     .bar-2{
        background: #F9655B;
    }
     .bar-3{
        background:  #FFC267;
    }
     .bar-4{
        background:#6658EA;
    }
     .bar-5{
        background: #FFCCCC;
    }
}

nav{
    background: #F3F8FF;
    padding-top: 32px;
    margin: 0;
}

li {
    a{
        color: #1B1642;
    }
}

.link-spacing{
    margin: 0 56px
}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 942px;
  background: #F3F8FF;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.hero-section{
    padding-bottom: 355px;
}


.left-hero-section{
    padding-top: 236px;
    padding-left: 160px;
}

.right-hero-section{
    position: absolute;
    top: 167px;
    right: 0;
    max-width: 975px;
    z-index: -1;
}

.btn{
    padding: 0;

    .get-started{
        background: $primary;
        border:none;
        padding: 15px 28px 15px 28px;
        border-radius: 8px 0 8px  0;
        color: white;
        margin-right: 18px;
        box-shadow: 0px 14px 24px 0px rgba(27, 22, 66, 0.06), 0px 0px 6px 0px rgba(0, 0, 0, 0.03);
    }

    .learn-more{
        background: white;
        color: $primary;
        border:none;
        padding: 15px 28px 15px 28px;
        border-radius: 8px 0 8px  0;
        box-shadow: 0px 14px 24px 0px rgba(27, 22, 66, 0.06), 0px 0px 6px 0px rgba(0, 0, 0, 0.03);
    }
}

.plus-pattern{
    position: absolute;
    top: -200px;
    left: 130px;
    max-width: 278px;
}

.stats-card-container{
    z-index: 10;
    margin-left: 164px;
    margin-top: -145px;
    max-width: 448px;
}

.stats-card{
    border-radius: 20px 0 20px 0;
    background: white;
    padding: 50px 108px 50px 44px;
    box-shadow: 0px 44px 74px 0px #1A15470F , 0px 0px 24px 0px #0000000A;;
}

hr{
    color: #EAF2FE;
    border: 1px solid;
    border-top: #EAF2FE;
    opacity: 1.25;
}

.out-of-card{
    max-width: 448px;
    margin: 0;
    border: 3px solid#7085F5;
}

.about-us-content{
    margin-left: 222px;
    margin-right: 174px;
}

.advisor-left{
    padding-top: 131px;
    padding-right: 84px;
}

.common-hr{
    width: 78px;
    border: 2px solid #FFC267;
    opacity: 100%;
}

.slick-prev:before, .slick-next:before{
    background: $primary;
    box-shadow: 0px 14px 24px 0px #1B16420F, 0px 0px 6px 0px #00000008;
}

.slick-prev{
    left: 0;
}

.slick-next{
    right: 0;
}

.slider{
    display: flex;
    align-items: center;
}

.slider .prev-arrow {
    background: $primary;
    color: white;
    padding: 23px;
    cursor: pointer;
}

.slider .next-arrow {
    background: $primary;
    color: white;
    padding: 23px;
    cursor: pointer;
}

.testimonial-heading{
    font-size: 64px;
    font-weight: 400;
    font-family: 'DM Serif Display', serif;
    line-height: 69.12px;
    color: #1B1642;  
}

.testimonial-content{
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.profile-pic{
    margin-top: 58px;
}

.name{
    font-size: 18px;
    font-weight: 500;
    font-family: 'DM Sans';
    line-height: 28.8px;
    color: #1B1642;
}

.name2{
    font-size: 16px;
    font-weight: 400;
    font-family: 'DM Sans';
    line-height: 25.6px;
    color: #1B1642;
}

.download-section{
    margin-top: 101px;
}

.circle-pattern-right{
    position: absolute;
    top: 0;
    left: 360px;
    max-width: 185px;
    z-index: -1;
}

.circle-pattern-left{
   position: absolute;
    bottom: 118px;
    left: 78px;
    max-width: 185px;
    z-index: 2;
}

.left-download{
    max-width: 381px;
    margin-left: 141px;
    z-index: 100;
}

.right-download{
    margin-left: 177px;
    margin-right: 170px;
}

.stories-pricing{
    background: url(/assets/images/pricing-bg.svg) no-repeat ;
    background-size: cover;
    margin-top: -212px;
    padding-bottom: 1730px;

    .stories-content{
        padding: 312px 146px 58px 140px;
        column-gap: 94px;
    }
}

.story{
box-shadow: 0px 44px 54px 0px #291E0C08;

.story-content{
    background: #fff;
}
}

.price-main-heading{
    font-size: 64px;
    font-weight: 400;
    font-family: 'DM Serif Display', serif;
    line-height: 69.12px;
    color: #1B1642;
}

.form-container{
    margin-top: 77px;
}

 .form-heading{
    padding: 56px 97px 60px 96px;
}

.form-detail{
    padding: 0 65px 0 62px;
}

.detail-name{
    font-size: 18px;
    font-weight: 500;
    font-family: 'DM Sans';
    line-height: 28.8px;
    color: #1B1642;
}

.detail-price{
    font-size: 18px;
    font-weight: 400;
    font-family: 'DM Sans';
    line-height: 28.8px;
    color: #1B1642;
}

.dollor{
font-family: DM Sans;
font-size: 23px;
font-weight: 700;
line-height: 25px;
}

.time{
font-family: DM Sans;
font-size: 28px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.03em;
}

.plan-pricing{
    padding: 0 63px 38px 39px;
}
.give-us-try{
    margin-top: 216px;
    padding-bottom: 272px;
}

.try{
    font-size: 82px;
    line-height: 88.57px;
}

.try-btn{
    background: #6658EA;
    border: none;
    padding: 15px 28px 15px 28px;
    border-radius: 8px 0 8px 0;
    color: white;
    box-shadow: 0px 14px 24px 0px rgba(27, 22, 66, 0.06), 0px 0px 6px 0px rgba(0, 0, 0, 0.03);
}

.try-content{
    text-align: center;
    max-width: 558px;
    margin-top: 14px;
    margin-bottom: 36px;
    font-size: 18px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    line-height: 28.8px;
    color: #1B1642;
}

.half-circle{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 239px;
    z-index: -1;
}

footer{
    background: #1B1642;
    ul{
        li{
      
            list-style: none;
            a{
                text-decoration: none;
                color: white;
                font-family: 'DM Sans', sans-serif;
            }
        }
    }
}

.footer-links{
    padding: 97px 208px 129px 166px;
}