@media (min-width: 1400px){
.container{
    max-width: 1440px;
    margin: 0 auto;
}

  .advisor-container{
    flex-direction: row-reverse;
  }

}

@media (max-width: 1399px){
.stats-card-container{
  margin-left: 45px;
}

.stats-card{
  padding: 30px 25px 30px 25px;
}

.about-us-content{
  margin: 0 87px 0 111px;
}
.main-heading-big {
    font-size: 58px;
    line-height: 47.12px;
}

.left-hero-section{
  padding-left: 40px;
}

.testimonial-heading{
  font-size: 53px;
line-height: 55.12px;
 
}

  .advisor-container{
    flex-direction: row-reverse;
  }



}

@media (max-width: 1199px){
  .main-heading-big{
    font-size: 48px;
  }

  .right-hero-section{
    max-width: 785px;
  }

  .sub-content{
  max-width: 100%;
}

  .advisor-section{
    padding-left: 40px;
  }

    .advisor-left{
    padding-right: 10px;
  }


  .price-heading{
    font-size: 35px;
  }

  
  .main-heading-small{
    font-size: 38px;
    line-height: 40px;
  }
.testimonial-heading{
  font-size: 40px;
line-height: 43.12px;
 
}


}


@media (max-width: 992px){

  .stats-card-container{
    margin-left: 0;
    margin-top: -60px;
  }

  .stats-card{
    padding: 30px;
  }

  .price-heading{
    font-size: 30px;
    line-height: 28px;
  }

  .main-heading-big{
    font-size: 48px;
    line-height: 53.18px;
  }


  .plus-pattern{
    top: -43%;
    left: 9%;
  }

   .about-us-content{
    margin: 0 40px;
  }

  .left-hero-section{
    padding: 150px 0 0 0;
  }

   .right-hero-section{
  max-width: 530px;
  }

  .sub-content{
    font-size: 12px;
    line-height: 18px;
  }


  
  .advisor-section{
    padding: 0;
  }

  .advisor-left{
    padding: 0;
  }


  .testimonial-heading{
  font-size: 30px;
line-height: 33.12px;
 
}

.slider .prev-arrow, .slider .next-arrow {
    padding: 12px;
}

  
}


@media (max-width: 768px){

  .left-hero-section{
    padding:0;
    margin: 0 auto;
  }

  .main-heading-big{
    font-size: 40px;
    text-align: center;
  }

  .sub-content{
    font-size: 16px;
  }


  .right-hero-section{
    position: relative;
    top: 0;
  }

  .stats-card-container{
    margin-left: 36px;
    margin-bottom: 49px;
  }

  .about-us-content{
    margin: 0;
  }
  
  .btn{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

  .plus-pattern{
      top: -23%;
    left: 12%;
  }

  
   .right-hero-section{
  max-width: 740px;
  }

    .stats{
    flex-direction: column;
  }




}

@media (max-width: 576px) {

  .hero-section{
    padding: 0;
  }

  nav{
    padding-top: 16px;
  }

  .link-spacing {
    margin: 0;
  }

  li {
    a{
        font-size: 12px;
        padding: 5px;
    }
  }

  .main-heading-big{
    display: none;
  }

  .main-heading-mobile{
    display: initial;
    font-size: 40px;
    line-height: 43.2px;
    font-weight: 400;
}

  .btn{
    display: none;
  }

  .left-hero-section{
    text-align: center;
    padding: 70% 0 0 0 ;
  }

  .right-hero-section{
    position: absolute;
    top: 70px;
  }

  .stats-section{
    padding: 0 10px
  }

  .plus-pattern{
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
  }

  .stats-card-container{
    margin-top: 196px;
    margin-left: 0;
  }

  .price-heading{
    font-size: 36px;
    line-height: 38.52px;
  }

  .stats-card{
    padding: 50px 16px 45px 39px;
  }

  .about-us-content{
    margin: 0
  }

  .main-heading-small{
    font-size: 32px;
    line-height: 38.88px;
  }

  .checklist{
    flex-direction: column;
  }

  .advisor-left{
    padding-right: 0;
    padding-top: 0;
  }

  .testimonial-heading {
    font-size: 18px;
    line-height: 22.12px;
  }

  .slider .prev-arrow, .slider .next-arrow {
    padding: 10px;
}

.profile-pic{
  margin-top: 20px;
}





} 
