@media (min-width: 1400px) {
  .xyz {
    max-width: 1920px;
    width: 100%;
    position: relative;
    margin: auto;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .advisor-container {
    flex-direction: row-reverse;
    padding-left: 142px;
    margin-bottom: 28px !important;
  }
}
@media (max-width: 1399px) {
  .stats-card-container {
    margin-left: 45px;
  }
  .stats-card {
    padding: 30px 25px 30px 25px;
  }
  .about-us-content {
    margin: 0 87px 0 111px;
  }
  .main-heading-big {
    font-size: 56px;
    line-height: 1.2;
    max-width: 440px;
  }
  .left-hero-section {
    padding-left: 24px;
    padding-top: 160px;
  }
  .right-hero-section {
    top: 92px;
    max-width: 875px;
  }
  .testimonial-heading {
    font-size: 53px;
    line-height: 55.12px;
  }
  .advisor-container {
    flex-direction: row-reverse;
  }
  .left-download {
    margin-left: 0;
  }
  .right-download {
    padding-top: 50px;
    margin: 50px 30px;
  }
  .stories-section .stories-content {
    -moz-column-gap: 70px;
         column-gap: 70px;
    padding: 112px 30px 58px 30px;
  }
  .form-container {
    margin-right: 0;
    margin-left: 0;
  }
  .footer-links {
    padding: 97px 20px 129px 20px;
  }
}
@media (max-width: 1199px) {
  .main-heading-big {
    font-size: 48px;
    max-width: 405px;
  }
  .right-hero-section {
    max-width: 818px;
  }
  .advisor-left {
    padding-right: 10px;
  }
  .price-heading {
    font-size: 35px;
  }
  .standard-form {
    padding: 56px 80px 60px 80px;
  }
  .professional-form {
    padding: 250px 40px 60px 40px;
  }
  .main-heading-small {
    font-size: 38px;
    line-height: 40px;
  }
  .try-btn {
    padding: 10px 20px 10px 20px;
  }
  .btn .get-started {
    padding: 10px 20px 10px 20px;
  }
  .btn .learn-more {
    padding: 10px 20px 10px 20px;
  }
  .testimonial-heading {
    font-size: 40px;
    line-height: 43.12px;
  }
  .try {
    font-size: 60px;
    line-height: 63.12px;
  }
}
@media (max-width: 992px) {
  .hero-section {
    padding-bottom: 290px;
  }
  .hero-info {
    max-width: 344px;
  }
  .skewed {
    min-height: 800px;
  }
  .stats-card-container {
    margin-left: 0;
    margin-top: -60px;
  }
  .stats-card {
    padding: 30px;
  }
  .price-heading {
    font-size: 30px;
    line-height: 28px;
  }
  .main-heading-big {
    font-size: 48px;
    line-height: 53.18px;
  }
  .about-us-content {
    margin: 0 40px;
  }
  .left-hero-section {
    padding: 73px 0 0 0;
  }
  .right-hero-section {
    max-width: 600px;
  }
  .sub-content {
    font-size: 16px;
    line-height: 1.5;
  }
  .advisor-section {
    padding: 0 10px;
    margin-top: 10px;
  }
  .advisor-left {
    padding: 0;
  }
  .testimonial-heading {
    font-size: 30px;
    line-height: 33.12px;
  }
  .slider .prev-arrow,
  .slider .next-arrow {
    padding: 12px;
  }
  .stories-bg {
    top: -70px;
  }
  .story-wrapper {
    margin-left: 0;
  }
  .form-heading {
    padding: 50px;
  }
  .form-detail {
    padding: 0 20px;
  }
  .standard-form {
    padding: 56px 20px 10px 20px;
  }
  .professional-form {
    padding: 150px 20px 60px 21px;
  }
  .plan-pricing {
    padding: 0 20px 30px 20px;
  }
  .footer-links {
    flex-direction: column;
  }
  .quick-links {
    margin-top: 20px;
  }
  .price-main-heading {
    font-size: 41px;
    line-height: 43.12px;
  }
}
@media (max-width: 768px) {
  .hero-info {
    max-width: 100%;
    text-align: center;
  }
  .left-hero-section {
    padding: 0;
    margin: 0 auto;
  }
  .main-heading-big {
    font-size: 40px;
    max-width: 100%;
    text-align: center;
  }
  .sub-content {
    font-size: 18px;
  }
  .right-hero-section {
    position: relative;
    top: 0;
  }
  .stats-card-container {
    margin-left: 36px;
    margin-bottom: 49px;
  }
  .about-us-content {
    margin: 0;
  }
  .btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .right-hero-section {
    max-width: 740px;
  }
  .right-download {
    padding-top: 0;
  }
  .stats {
    flex-direction: column;
  }
  .testimonial {
    margin-top: 112px;
  }
  .download-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .stories-bg {
    top: -45px;
  }
  .stories-section .stories-content {
    padding: 152px 20px 58px 20px;
  }
  .form-container {
    flex-direction: column;
    margin-top: 35px;
  }
  .standard-form {
    padding: 56px 50px 10px 50px;
  }
  .professional-form {
    padding: 80px 60px 60px 60px;
  }
  .form-heading {
    padding: 0;
  }
  .mobile-view {
    flex-direction: column;
    text-align: start;
  }
  .plan-pricing {
    flex-direction: column;
    padding: 0 31px 36px 24px;
  }
  .form-detail {
    padding: 0 31px 0 24px;
  }
  .try-btn {
    padding: 12px 77px 12px 77px;
    margin-top: 23px;
  }
}
@media (max-width: 576px) {
  .hero-section {
    padding: 0;
  }
  nav {
    padding-top: 16px;
  }
  .mobile-nav {
    justify-content: space-evenly;
  }
  .link-spacing {
    margin: 0;
  }
  li a {
    font-size: 12px;
    padding: 5px;
  }
  .main-heading-big {
    display: none;
  }
  .main-heading-mobile {
    display: initial;
    font-size: 40px;
    line-height: 43.2px;
    font-weight: 400;
  }
  .btn {
    display: none;
  }
  .left-hero-section {
    text-align: center;
    padding: 70% 0 0 0;
  }
  .right-hero-section {
    position: absolute;
    top: 70px;
  }
  .stats-section {
    padding: 0 10px;
  }
  .plus-pattern {
    top: -6%;
    left: 50%;
    transform: translateX(-50%);
  }
  .stats-card-container {
    margin-top: 118px;
    margin-left: 0;
  }
  .price-heading {
    font-size: 32px;
    line-height: 38.52px;
  }
  .stats-card {
    padding: 40px 15px 40px 15px;
  }
  .about-us-content {
    margin: 0;
  }
  .advisor-section {
    margin: 40px 0;
  }
  .main-heading-small {
    font-size: 32px;
    line-height: 38.88px;
  }
  .checklist {
    flex-direction: column;
  }
  .advisor-left {
    padding-right: 0;
    padding-top: 0;
  }
  .management {
    margin-top: 53px;
  }
  .testimonial-heading {
    font-size: 20px;
    line-height: 22.12px;
  }
  .slider .prev-arrow,
  .slider .next-arrow {
    padding: 10px;
  }
  .profile-pic {
    margin-top: 20px;
  }
  .download-section {
    padding: 0 10px;
  }
  .download-wrapper {
    flex-direction: column;
  }
  .left-download {
    margin-left: 0;
  }
  .right-download {
    margin: 100px 0 126px 0;
    padding-top: 0;
  }
  .circle-pattern-right {
    right: -15px;
  }
  .circle-pattern-left {
    bottom: -54px;
    left: -12px;
  }
  .buttons {
    align-items: center;
  }
  .buttons .apple-btn {
    max-width: 119px;
  }
  .buttons .google-btn {
    max-width: 127px;
  }
  .story-wrapper {
    margin-left: 0;
    margin-bottom: 70px;
  }
  .stories-section {
    padding-bottom: 0;
  }
  .stories-section .stories-content {
    padding: 50px 10px 58px 10px;
  }
  .mobile-form {
    margin-top: 32px;
  }
  .price-main-heading {
    margin-top: 54px;
  }
  .pricing-bg {
    bottom: 185px;
    top: -70px;
  }
  .form-circle-pattern {
    bottom: 360px;
    left: -68px;
  }
  .standard-form {
    padding: 0 24px;
  }
  .standard-bottom-hr {
    margin: 22px 0 25px 0;
  }
  .professional-form {
    padding: 0 24px;
  }
  .give-us-try {
    margin-top: 59px;
  }
  .try {
    font-size: 48px;
    line-height: 51.12px;
  }
  .try-btn {
    padding: 12px 30px 12px 30px;
    margin-top: 0;
  }
  .btn .try-btn {
    display: initial;
  }
  .footer-links {
    text-align: center;
    padding: 30px 20px 20px 20px;
  }
  .quick-links {
    padding: 0 20px;
  }
}/*# sourceMappingURL=media.css.map */